*{
    font-family: Inter, sans-serif;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/*
.grid__item,
        .grid__col-sizer {
            width: 49%;
        }

        .grid__item {
            float: left;
        }
        .gutter-sizer { width: 2%; }
        */
.active-menu>li>a>span {
    transition: all 0.5s ease-in-out;
}

.is-active-menu .top-aside {
    width: 300px;
}
.menu-width,
.top-aside {
    width: 300px;
    transition: all 0.5s ease-in-out;
}

.main-container {
    margin-left: 0;
    width: 100%;
    transition: all 0.5s ease-in-out;
    box-shadow: none;
}
#logo-sidebar{
    left: -100%;
    
    transition: all 0.5s ease-in-out;
    width: 300px;
}
#logo-sidebar.menu-width.active-menu-width{
    left: 0%;
}
.bars-container {
    width: 110px;
}

.is-active-menu .link-logo {
    display: flex;
}

.link-logo {
    display: none;
    transition: all 0.5s ease-in-out;
}

#main-menu li.active a {
    font-weight: bold;
    color: rgb(14 116 144 / var(--tw-text-opacity));
}
.list-general{
    list-style: none;
    margin: 0;
    padding: 0;
}
.list-general li{
    position: relative;
    margin-bottom: 0.4rem;
}
.list-general li:before{
    content: "";
    width: 6px;
    height: 6px;
    background-color: red;
    display: block;
    position: absolute;
    left: 0px;
    top: 9px;
    border-radius: 50%;

}
.list-general li a{
    display: inline-block;
    color: #555555;
    margin-left: 16px;
}
@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.spinner-border {
    border-top-color: transparent;
    border-right-color: transparent;
    border-bottom-color: transparent;
    border-left-color: #ffffff;
    border-style: solid;
    border-width: 4px;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    animation: spin 1s linear infinite;
}
.active-menu .on-open-block{
    display: block;
}
/* Extra small devices (phones, less than 576px) */
@media (min-width: 576px) {}

/* Small devices (tablets, 576px and up) */
@media (min-width: 768px) {}

/* Medium devices (desktops, 768px and up) */
@media (min-width: 1024px) {
    .main-container {
        margin-left: 110px;
        width: calc(100% - 110px);
    }
    .menu-width,
    .top-aside {
        width: 110px;
    }
    #logo-sidebar.menu-width:hover{
        width: 330px;
    }
    #logo-sidebar.menu-width:hover .on-open-block{
        display: block;
    }
    #logo-sidebar{
        left: 0;
        width: 110px;
    }
    .menu-width.active-menu-width,
    .is-active-menu .top-aside {
        width: 330px;
    }
    #logo-sidebar.menu-width.active-menu-width{
        width: 330px;
    }
    
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1400px) {}

/* Extra large devices (large desktops, 1600px and up) */
@media (min-width: 1537px) {

    .menu-width.active-menu-width,
    .is-active-menu .top-aside {
        width: 110px;
    }
    #logo-sidebar.menu-width.active-menu-width {
        width: 110px;
    }
    #logo-sidebar{
        left: 0;
        width: 330px;
    }
    .menu-width,
    .top-aside {
        width: 330px;
    }

    .main-container {
        margin-left: 330px;
        width: calc(100% - 330px);
    }

    .is-active-menu .main-container {
        width: calc(100% - 110px);
        margin-left: 110px;
    }
    .is-active-menu #logo-sidebar{
        width: 110px;
    }
    .bars-container {
        width: 110px;
    }
    .active-menu>li>a>span {
        opacity: 0;
    }
    .is-active-menu .link-logo {
        display: none;
    }
    
    .link-logo {
        display: block;
        transition: all 0.5s ease-in-out;
    }
}
@media(max-width:560px){
    #chat-container>div>div{
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0 !important;
        width: 100%;
        margin: 0 !important;
        height: 100vh;
    }
    #chat-container>div>div>div{
        height: 100%;
    }
}